    * {
        margin: 0%;
        padding: 0%;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    header {
        background-color: #fec63e;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 100000;
    }
    
    .logo {
        border: solid 5px black;
        width: 60px;
        margin-left: 200px;
        font-weight: bold;
        padding: 5px 30px 5px 5px;
        font-size: 30px;
        line-height: 20px;
        font-family: Georgia, "Times New Roman", serif;
    }
    
    ul {
        display: flex;
        padding-right: 200px;
    }
    
    li {
        list-style: none;
        margin: 15px;
        transition: .4s;
    }
    
    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 14px;
    }
    
    .sobre {
        background-image: url(https://bikcraft.com/wp-content/uploads/2015/10/bg.jpg);
        background-size: cover;
        height: 380px;
        text-align: center;
        position: relative;
        padding-top: 80px;
    }
    
    .sobre__container {
        position: relative;
        top: 75px;
    }
    
    h1 {
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        font-size: 48px;
    }
    
    .linha {
        height: 3px;
        width: 62px;
        background-color: white;
        margin: auto;
        position: relative;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .texto {
        font-style: italic;
        color: white;
        font-size: 14px;
        line-height: 20px;
        font-family: Georgia, "Times New Roman", serif;
    }
    
    .texto2 {
        color: white;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
    }
    
    button {
        background-color: transparent;
        border: solid #fec63e 3px;
        color: #fec63e;
        font-weight: bold;
        padding: 10px 30px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 20px;
    }
    
    .produtos__container {
        background-color: white;
        height: 603px;
        width: 100%;
        text-align: center;
    }
    
    .titulo {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 25px;
        letter-spacing: 2px;
        padding-top: 60px;
    }
    
    #linha2 {
        height: 3px;
        width: 62px;
        background-color: black;
        margin: auto;
        position: relative;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    
    .quadrados {
        background-color: black;
        height: 300px;
        width: 302px;
        display: flex;
        flex-direction: column;
    }
    
    .image {
        width: 200px;
        height: 140px;
        padding: 20px 50px 20px 50px;
    }
    
    .retangulos {
        background-color: #fec63e;
        width: 302px;
        height: 120px;
    }
    
    h2 {
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 2px;
        margin-top: 20px;
    }
    
    .produtos__container .linha {
        background-color: #000;
        margin-top: 8px;
    }
    
    .quadrados .retangulos .linha {
        background-color: black;
        margin-top: 5px;
    }
    
    .frase {
        font-family: Georgia, "Times New Roman", serif;
        font-size: 14px;
        line-height: 19px;
    }
    
    .container__quadrados {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
    }
    
    .frase2 {
        font-family: Georgia, "Times New Roman", serif;
        margin-top: 40px;
        font-size: 15px;
    }
    
    button {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: bold;
        border: solid 3px #fec63e;
        background: transparent;
    }
    
    button:hover {
        border-color: #000;
        color: #000;
        transition: .4s;
    }
    
    .portifólio__container {
        background-color: black;
        height: 803px;
        text-align: center;
        align-items: center;
    }
    
    .titulo2 {
        text-transform: uppercase;
        font-size: 25px;
        color: #fec63e;
        font-weight: bold;
        letter-spacing: 2px;
        padding-top: 40px;
    }
    
    .portifólio__container .linha {
        background-color: #fec63e;
    }
    
    .image2 {
        background-image: url(https://bikcraft.com/wp-content/uploads/2015/10/passeio.jpg);
        width: 460px;
        height: 280px;
    }
    
    .image3 {
        background-image: url(https://bikcraft.com/wp-content/uploads/2015/10/retro.jpg);
        width: 460px;
        height: 280px;
    }
    
    .image4 {
        background-image: url(https://bikcraft.com/wp-content/uploads/2015/10/esporte.jpg);
        width: 940px;
        height: 280px;
        margin: 0 auto;
    }
    
    .imagens {
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    
    .imagens__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .frase3 {
        color: white;
        font-family: Georgia, "Times New Roman", serif;
        font-size: 15px;
        margin-top: 30px;
    }
    
    .botão {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: bold;
        border: solid 3px #fec63e;
        background: transparent;
    }
    
    .botão:hover {
        border-color: white;
        color: white;
        transition: .4s;
    }
    
    .qualidade__container {
        background-color: white;
        width: 100%;
        height: 564px;
        text-align: center;
    }
    
    .titulo3 {
        text-transform: uppercase;
        font-size: 25px;
        padding-top: 50px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    
    .qualidade__container .linha {
        background-color: #000;
        margin-top: 10px;
    }
    
    .desenho {
        display: flex;
        justify-content: center;
        padding-top: 25px;
    }
    
    .linha__desenho {
        position: relative;
        background-color: #000;
        height: 3px;
        width: 200px;
        top: 70px;
        /* left: 27%; */
        /* bottom: 40%; */
    }
    
    .linha__desenho__central {
        position: relative;
        background-color: #000;
        height: 30px;
        width: 3px;
        top: 120px;
        right: 102px;
        /* bottom: 40%; */
    }
    
    .linha__desenho__vertical {
        position: relative;
        background-color: #000;
        height: 80px;
        width: 3px;
        top: 70px;
        /* left: 35%; */
        /* bottom: 40%; */
    }
    
    .logo__desenho {
        background: transparent;
        border: solid 10px #fec63e;
        font-size: 60px;
        color: #fec63e;
        font-weight: bold;
        font-family: Georgia, "Times New Roman", serif;
        line-height: 40px;
        text-align: start;
        padding: 10px 30px 10px 5px;
    }
    
    .palavra {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        color: #000;
        position: relative;
        top: 90px;
        right: 90px;
    }
    
    .qualidade {
        text-align: center;
        width: 300px;
        position: relative;
        top: 90px;
        right: 145px;
    }
    
    .titulo__qualidade {
        color: #000;
        font-size: 18px;
        letter-spacing: 2px;
    }
    
    .linha__qualidade {
        height: 3px;
        width: 62px;
        background-color: #000;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 120px;
    }
    
    .durabilidade {
        font-family: Georgia, "Times New Roman", serif;
        font-size: 14px;
        line-height: 20px;
    }
    
    .qualidade2 {
        text-align: center;
        width: 300px;
        position: relative;
        top: 41px;
        right: 150px;
    }
    
    .titulo__qualidade2 {
        color: #000;
        font-size: 18px;
        letter-spacing: 2px;
    }
    
    .linha__qualidade2 {
        height: 3px;
        width: 62px;
        background-color: #000;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 120px;
    }
    
    .design {
        font-family: Georgia, "Times New Roman", serif;
        font-size: 14px;
        line-height: 20px;
    }
    
    #linha__desenho_direito {
        position: relative;
        right: 3px;
    }
    
    .frase__qualidade {
        font-family: Georgia, "Times New Roman", serif;
        font-size: 15px;
        position: relative;
        top: 200px;
    }
    
    .botao__qualidade {
        background: transparent;
        border: solid 3px #fec63e;
        color: #fec63e;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        position: relative;
        top: 190px;
    }
    
    .frase__container {
        height: 220px;
        width: 100%;
        background-image: url(https://bikcraft.com/wp-content/uploads/2015/10/bg-footer.jpg);
    }
    
    .frase__bonita {
        font-style: italic;
        color: white;
        font-size: 14px;
        line-height: 20px;
        font-family: Georgia, "Times New Roman", serif;
    }
    
    .elementos {
        text-align: center;
        padding-top: 50px;
    }
    
    .contato {
        display: flex;
        height: 166px;
        background-color: #000;
        text-align: start;
        padding: 20px 0 20px 180px;
        justify-content: space-between;
    }
    
    .contato__container {
        height: 166px;
        width: 100%;
    }
    
    .contato1 {
        width: 400px;
    }
    
    .contato2 {
        width: 200px;
    }
    
    .titulo__hitória,
    .titulo__contato,
    .titulo__rede {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        color: #fec63e;
        letter-spacing: 2px;
    }
    
    .texto_história {
        color: white;
        font-family: Georgia, "Times New Roman", serif;
        font-size: 15px;
        line-height: 20px;
        margin-top: 10px;
    }
    
    .separador__contato {
        background-color: #fec63e;
        height: 3px;
        width: 62px;
        margin-top: 10px;
    }
    
    .lista__contato {
        display: block;
        width: 300px;
        margin-top: 10px;
    }
    
    .itens__contato {
        color: white;
        font-family: Georgia, "Times New Roman", serif;
        font-size: 15px;
        margin: 5px;
    }
    
    .contato3 {
        padding-right: 180px;
        width: 270px;
    }
    
    .botoes {
        display: flex;
        padding-top: 10px;
    }
    
    .face,
    .insta,
    .twitter {
        border: #fec63e solid 3px;
        background: transparent;
        height: 58px;
        width: 58px;
        margin: 5px;
    }
    
    .img {
        position: relative;
        right: 15px;
    }
    
    .direitos__container {
        background-color: #fec63e;
        width: 100%;
        height: 60px;
    }
    
    .direitos {
        font-family: Georgia, "Times New Roman", serif;
        font-size: 14px;
        padding: 20px 0 0 180px;
    }
    
    li a:hover {
        color: white;
    }
    
    a {
        transition: .4s;
    }